{% extends '_layout.html' %} {% block content %}

<!-- <h1>New User</h1>

<form action="{{ url_for('users.create') }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <label for="name">Username</label>
  <input type="text" name="name" placeholder="" />
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="Example: email@email.com" />
  <label for="password">Password</label>
  <input type="text" name="password" placeholder="Min. 8 characters" />
  <label>
    <input type="checkbox" />
    Remember me
  </label>
  <input type="submit" value="Add User" />
</form> -->

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Join the club.</h3>
              <form action="{{ url_for('users.create') }}" method="POST">
                <input
                  type="hidden"
                  name="csrf_token"
                  value="{{ csrf_token() }}"
                />
                <div class="form-label-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Username"
                  />
                  <small class="form-text text-muted"
                    >Min. 6 alphanumeric characters</small
                  >
                </div>
                <div class="form-label-group">
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                  <small class="form-text text-muted"
                    >Example: email@email.com</small
                  >
                </div>
                <div class="form-label-group">
                  <input
                    type="text"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                  />
                  <small class="form-text text-muted">Min. 8 characters</small>
                </div>

                <!-- <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                    />
                    <label class="custom-control-label" for="customCheck1"
                      >Remember password</label
                    >
                  </div> -->
                <button
                  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit"
                >
                  Sign Up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
