{% extends '_layout.html' %} {% block content %}

<div class="col-lg-12 mx-auto d-flex flex-column align-items-center" style="padding-top: 30px">
<div>
    <img
    src="{{ user.profile_image_url }}"
    alt="profile_image"
    class="rounded-pill shadow-sm"
    style="width:200px; height:200px"
  />
</div>

<h3>I am {{ user.username }}</h3>

<form action="{{ url_for('users.follow', username=user.username) }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="idol_id" value="{{user.id}}" />
  <input type="submit" name="follow" value="Follow" class="btn btn-primary">
</form>

<div class="row" style="margin: 10px">
    <div class="col-lg-12 mx-auto">
      <ul class="list-group">
          {% for image in user.images %}
        <li class="list-group-item">
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <a href="{{ url_for('payments.new', username=user.username) }}">
              <button type="submit" class="btn btn-primary">Donate</button>
            </a>  
            <img src="{{ image.image_url }}" width="300px" class="ml-lg-5 order-1 order-lg-2">
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>

{% endblock %}
