{% extends '_layout.html' %} {% block content %}

<div>
    <img
    src="{{ user.profile_image_url }}"
    alt="profile_image"
    class="rounded-pill shadow-sm"
    style="width:200px; height:200px"
  />
</div>

<h3>I am {{ user.username }}</h3>

<div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group">
          {% for image in user.images %}
        <li class="list-group-item">
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <!-- <form action="{{ url_for('payments.new', username=user.username)}}" method="GET"> -->
            <a href="{{ url_for('payments.new', username=user.username)}}">
              <button type="submit" class="btn btn-primary">Donate</button>
            </a>  
            <!-- </form>             -->
            <img src="{{ image.image_url }}" width="50%" class="ml-lg-5 order-1 order-lg-2">
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
