{% extends "_layout.html" %} {% block title %} {% endblock %} {% block header %}
{% endblock %} {% block content %}

<div class="container">
  <div class="row text-center">
    <!-- Team item -->
    {% for user in user %}
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          src="{{ user.profile_image_url }}"
          alt=""
          width="100px"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">{{ user.username }}</h5>
        <span class="small text-uppercase text-muted">SEE MORE</span>
        <!-- display latest image uploaded here -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
